.bottom{
    background: #2C343E;
}
.bottom__inner {
    padding: 47px 85px;
    display: flex;
    align-items: center;

}
.bottom__img:hover{
border-bottom: 3px solid aqua;
}


.bottom__links {
    margin-left: 103px;
}

.bottom__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;

}

.bottom__item+.bottom__item {
  margin-left: 32px;
}

.bottom__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    color: #83888F;
}
.bottom__link:hover{
    color: aqua;
}

.tarmoq {
    margin-left: auto;
}

.tarmoq__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;

}

.tarmoq__item+.tarmoq__item {
    margin-left: 24px;
}
.tarmoq__item:hover{
opacity: 0.2;
}


@media only screen and (max-width:768px) {
    .bottom__inner {

        flex-direction: column;
    }
    .bottom__img{
        margin: 54px 0 32px  0;
    }
    .bottom__links{
        margin-top: 50px;
        margin: 0 auto;
  margin-bottom: 67px;
    }
    .tarmoq{
        margin: 0 auto;
        margin-bottom: 54px;
    }

}

@media only screen and (max-width:576px) {
    .bottom__list{
        flex-direction: column;
    }
    .bottom__item{
        text-align: center;
        margin-bottom: 24px;
    }
    .bottom__link{
        text-align: center;
    }
    .bottom__item+.bottom__item {
        margin-left: 0;
      }
}